<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='content-type' content='text/html;charset=UTF-8' />
    <title><:if(locals.page_title) { :><:= page_title :><: } else { :>Sound Test<: } :></title>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
    <script src='/static/js/sndtst.min.js' type='text/javascript'></script>
    <link type='text/css' href='/static/css/sndtst.min.css' rel='stylesheet' />
    <link rel="apple-touch-icon" href="/static/images/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/images/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/images/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/images/touch-icon-ipad-retina.png">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Sound Test">
    <meta name="application-name" content="Sound Test">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta property='og:site_name' content='Sound Test'/>
    <meta property="fb:app_id" content="1468367333395700"/>
    <meta property='twitter:site' content='@snd_tst'/>
    <meta property='twitter:creator' content='@snd_tst'/>
    <meta property='og:description' content='A collection of music from as many games as I can find'/>
    <meta property='twitter:description' content='A collection of music from as many games as I can find'/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-50241201-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-50241201-1');
    </script>
  </head>
	<body>
    <header>
      <div class='container'>
        <div class="navbar navbar-dark navbar-expand-md">
          <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
              <strong>Sound Test</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/game/">Guess the Game</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main role="main">
      <div class='container'>
        <div class="jumbotron">
            <h1>Privacy Policy</h1>
            <p>Last Updated 2018/01/22</p>
          </div>
          <div class="row">
          <div id="PrivacyPolicy" class="col-12">
          <!-- START PRIVACY POLICY CODE -->
            <h2>What information do we collect?</h2>
            <p>Not much, the site currently has no system for registering so other than tracking with Google Analytics we have no idea who you are.</p>
            <h2>What do we use your information for?</h2>
            <p>Mostly to understadn what games you like and where in the world you are visiting from<p>
        		<h2>Do we use cookies?</h2>
        		<p>No (Cookies are small files that a site or its service provider transfers to your computers hard drive through your Web browser (if you allow) that enables the sites or service providers systems to recognize your browser and capture and remember certain information</p>
            <h2>Do we disclose any information to outside parties?</h2>
            <p><strong>NO!</strong> We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</p>
            <h2>California Online Privacy Protection Act Compliance</h2>
            <p>Because we value your privacy we have taken the necessary precautions to be in compliance with the California Online Privacy Protection Act. We therefore will not distribute your personal information to outside parties without your consent.</p>
            <h2>Your Consent</h2>
            <p>By using our site, you consent to our privacy policy.</p>
            <h2>Changes to our Privacy Policy</h2>
            <p>If we decide to change our privacy policy, we will post those changes on this page.</p>
            <h2>Contacting Us</h2>
            <p>If there are any questions regarding this privacy policy you may contact us at <a href="mailto:feedback@sndtst.com">feedback@sndtst.com</a>.</p>
    		  <!-- END PRIVACY POLICY CODE -->
    	    </div>
        </div>
      </div>
    </main>
    <footer class="text-muted">
      <div class='container'>
        <p class='text-muted'><small>Created with &#9825; by <a href='http://jason.sperske.com/'>Jason Sperske</a> &mdash; <a href='mailto:feedback@sndtst.com'>Any Suggestions?</a> &mdash; <a href='/about/privacy/'>Privacy Policy</a></small></p>
      </div>
    </footer>
  </body>
</html>
