<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='content-type' content='text/html;charset=UTF-8' />
    <title>
      <:if(locals.page_title) { :>
        <:= page_title :>
      <: } else { :>
        Sound Test
      <: } :>
    </title>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
    <script src='/static/js/sndtst.min.js' type='text/javascript'></script>
    <link type='text/css' href='/static/css/sndtst.min.css' rel='stylesheet' />

    <link rel="apple-touch-icon" href="/static/images/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/images/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/images/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/images/touch-icon-ipad-retina.png">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Sound Test">
    <meta name="application-name" content="Sound Test">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta property='og:site_name' content='Sound Test'/>

    <meta property="fb:app_id" content="1468367333395700"/>
    <meta property='twitter:site' content='@snd_tst'/>
    <meta property='twitter:creator' content='@snd_tst'/>

    <: if (locals.page_title === 'Guess the Game') { :>
      <meta property="twitter:card" content="summary"/>
      <meta property="og:title" content="Guess the Game"/>
      <meta property="og:type" content="game"/>
      <meta property="og:url" content="https://sndtst.com/game/"/>
      <meta property="og:image" content="https://s3-us-west-2.amazonaws.com/media.sndtst.com/common/game/title"/>

      <meta property='og:description' content="Guess the Game by it's music"/>
      <meta property='twitter:description' content="Guess the Game by it's music"/>
    <: } else if (locals.game) { :>
      <meta property="twitter:card" content="summary"/>
      <meta property="sndtst:title" content="<:=game.title:>"/>
    <: game.composed_by.forEach((composer) => { :>
      <meta property="sndtst:composed_by" content="<:=composer:>" role="Composer"/>
    <: }) :>
      <meta property="sndtst:url" content="https://sndtst.com/<:=game.guid:>"/>
      <meta property="og:title" content="<:= game.title :>"/>
      <meta property="og:type" content="game"/>
      <meta property="og:url" content="https://sndtst.com/<:=game.guid:>"/>
      <meta property="og:image" content="https://s3-us-west-2.amazonaws.com/media.sndtst.com/game/<:=game.id:>/title"/>

      <meta property='og:description' content='Music from the game "<:=game.title:>"'/>
      <meta property='twitter:description' content='Music from the game "<:=game.title:>"'/>
    <: } else { :>
      <meta property='og:description' content='A collection of music from as many games as I can find'/>
      <meta property='twitter:description' content='A collection of music from as many games as I can find'/>
    <: } :>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-50241201-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-50241201-1');
    </script>
  </head>
	<body>
    <header>
      <div class='container'>
        <div class="navbar navbar-dark navbar-expand-md">
          <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
              <strong>Sound Test</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/game/">Guess the Game</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main role="main">
      <div class='container'><:- body -:></div>
    </main>
    <footer class="text-muted">
      <div class='container'>
        <p class='text-muted'><small>Created with &#9825; by <a href='http://jason.sperske.com/'>Jason Sperske</a> &mdash; <a href='mailto:feedback@sndtst.com'>Any Suggestions?</a> &mdash; <a href='/about/privacy/'>Privacy Policy</a></small></p>
      </div>
    </footer>
  <: if(locals.game) { :>
    <div id="jplayer_1" class="jp-jplayer"></div>
    <div id="jp_container_1" class="jp-audio">
      <div class="jp-controls">
        <a href="#" class="jp-play"><span class="fa fa-play fa-2x"></span></a>
        <a href="#" class="jp-pause"><span class="fa fa-pause fa-2x"></span></a>
      </div>
      <div class="jp-current-time"></div>
      <div class="jp-title"></div>
      <div class="jp-seek-bar"><div class="jp-play-bar"></div></div>
    </div>
  <: } :>
  </body>
</html>
