$fa-font-path: "/static/fonts/" !default;
$font-family-sans-serif: "Press Start 2P";

@font-face {
	font-family: 'Press Start 2P';
	src: url('/static/fonts/PressStart2P.eot');
	src: url('/static/fonts/PressStart2P.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/PressStart2P.woff') format('woff'),
		url('/static/fonts/PressStart2P.ttf') format('truetype'),
		url('/static/fonts/PressStart2P.svg#PressStart2P') format('svg');
	font-weight: 500;
	font-style: normal;
}

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";
@import "clippy.css";

html, body {
	padding-bottom: 30px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-color: #000;

	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
	-ms-interpolation-mode: nearest-neighbor;
	color: #fff;
}
a:hover {
	text-decoration: none;
}
.jumbotron {
  background-color: #000;
  h1,p {
    color: #fff;
  }
}
.navbar-brand {
	font-size: 1.05rem;
}
.Platform h1 {
	font-size: 60px;
}
.modal-content,.jumbotron {
	color: #333;
}
header>.container, main>.container, footer>.container {
    background-color: rgba(0,0,0,0.7);
}

#Playlist {
	small {
		display: none;
	}
	.jp-playing-track small {
		display: inline;
	}
}

//JPlayer
#jp_container_1 {
	background-color: rgba(0,0,0,0.7);
	bottom: 0;
	display: none;
	height: 35px;
	position: fixed;
	width: 100%;
}
.jp-seek-bar {
	cursor: pointer;
    height: 100%;
    margin-left: 40px;
    min-width: 100%;
    position: absolute;
    top: 0;
    right: -40px;
}
.jp-play-bar {
    background-color: #0f0;
    opacity: 0.65;
    position: absolute;
    bottom: 0;
    top: auto;
    height: 35px;
    left: 0;
    width: 100%;
}
.jp-current-time {
    bottom: 0;
    font-size: 15px;
    height: 35px;
    line-height: 40px;
    position: absolute;
    right: 5px;
    top: auto;
}
.jp-title {
    left: 45px;
    position: absolute;
    bottom: 0;
    top: auto;
    height: 35px;
    font-size: 27px;
}
.jp-play,.jp-pause {
    background-color: green;
    bottom: 0;
    height: 35px;
    left: 0;
    line-height: 40px;
    padding-left: 9px;
    position: absolute;
    top: auto;
    width: 40px;
}
@-webkit-keyframes blinker {
	0% { color: #FFF; }
	50% { color: #F00; }
	100% { color: #FFF; }
}
@keyframes blinker {
	0% { color: #FFF; }
	50% { color: #F00; }
	100% { color: #FFF; }
}
.jp-playable {
	cursor: pointer;
}
.jp-playing-track {
	-webkit-animation-name: blinker;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
	-webkit-animation-duration: 1s;

	animation-name: blinker;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(1.0,0,0,1.0);
	animation-duration: 1s;
}
.tt-menu {
	background-color: #fff;
	color: #000;
	width: 100%;
	padding-left: 10px;
	cursor: pointer;
}
.tt-dropdown-menu {
	width: 100%;
}
