<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='content-type' content='text/html;charset=UTF-8' />
    <title>Guess the Game with Sound Test</title>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
    <script src='/static/js/sndtst.min.js' type='text/javascript'></script>
    <link type='text/css' href='/static/css/sndtst.min.css' rel='stylesheet' />
    <link rel="apple-touch-icon" href="/static/images/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/images/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/images/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/images/touch-icon-ipad-retina.png">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Sound Test">
    <meta name="application-name" content="Sound Test">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta property='og:site_name' content='Sound Test'/>
    <meta property="fb:app_id" content="1468367333395700"/>
    <meta property='twitter:site' content='@snd_tst'/>
    <meta property='twitter:creator' content='@snd_tst'/>
    <meta property="twitter:card" content="summary"/>
    <meta property="og:title" content="Guess the Game"/>
    <meta property="og:type" content="game"/>
    <meta property="og:url" content="https://sndtst.com/game/"/>
    <meta property="og:image" content="https://s3-us-west-2.amazonaws.com/media.sndtst.com/common/game/title"/>
    <meta property='og:description' content="Guess the Game by it's music"/>
    <meta property='twitter:description' content="Guess the Game by it's music"/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-50241201-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-50241201-1');
    </script>
    <style type="text/css">
      html, body {
        background-image: url(https://s3-us-west-2.amazonaws.com/media.sndtst.com/common/game/title);
      }
      #Playlist {
        margin-left: 10px;
      }
      .typeahead {
        width: 100%;
        font-size: 40px;
        color: #333;
      }
      #Playlist,#GuessTheGame,.jp-title {
        display: none;
      }
      #Playlist small {
        display: none;
      }
      #Playlist .jp-playing-track small {
        display: inline;
      }
      .Hint {
        display: none;
      }
    </style>
  </head>
	<body>
    <header>
      <div class='container'>
        <div class="navbar navbar-dark navbar-expand-md">
          <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
              <strong>Sound Test</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/game/">Guess the Game</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main role="main">
      <div class='container'>
        <div class="jumbotron rainbowtron" id="Loading">
          <h1>Reticulating Splines...</h1>
        </div>

        <div class="row">
        	<div class="col-12">
        		<h1 id="GameTitle">Can You Guess this Game?</h1>
          </div>
        </div>
        <div class="row">
        	<div class="col-md-9">
            <button id="ActionPlay" class="btn btn-info" disabled="disabled">Let's A Go!</button>
            <div id="GuessTheGame">
        			<input class="typeahead" type="text" placeholder="Type your guess">
        		</div>
        		<ol id="Playlist"></ol>
        	</div>
        	<div class="col-md-3">
            <h3 class='Hint'>Need help?</h3>
            <button id='ActionHint' class='btn btn-danger Hint'>Ask Clippy</button>
            <h3>Want a different game?</h3>
            <a href='/game/' class='btn btn-info'>Reset</a>
            <h3>Tell others that you like this</h3>
            <p>
              <a href="https://twitter.com/intent/tweet?url=<:=encodeURIComponent('https://sndtst.com/game/'):>&amp;text=<:=encodeURIComponent('Playing Guess the Game! @SND_TST'):>" target="_blank" class="btn btn-success btn-sm"><i class="fa fa-twitter"></i> Twitter</a>
            </p>
            <p>
              <a href="https://www.facebook.com/dialog/share?app_id=1468367333395700&amp;display=popup&amp;href=<:=encodeURIComponent('https://sndtst.com/game/'):>&amp;redirect_uri=<:=encodeURIComponent('https://sndtst.com/game/'):>" target="_blank" class="btn btn-info btn-sm"><i class="fa fa-facebook-square"></i> Facebook</a>
            </p>
        	</div>
        </div>
        <script>
          $(function () {
            function loadGames() {
              var list = []
              $.ajax({
                url: '/data/games.json',
                dataType: 'json',
                async: false,
                success: function (res) {
                  list = res.games
                }
              })
              return list
            }
            function loadGame(guid) {
              var data = {}
              $.ajax({
                url: '/data/game/'+guid+'.json',
                dataType: 'json',
                async: false,
                success: function (res) {
                  data = res
                }
              })
              return data
            }
            function createGuessInput(games) {
              return {
                name: 'best-guess',
                display: 'title',
                templates: {
                  empty: '<div class="empty-message">unable to find any game with that name</div>',
                  suggestion: function (game) {
                    return '<p><strong>'+game.title+'</strong> – <small>'+game.platform.title+'</small></p>'
                  }
                },
                source: new Bloodhound({
                  identify: function(o) { return o.guid; },
                  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('title'),
                  queryTokenizer: Bloodhound.tokenizers.whitespace,
                  local: games
                })
              }
            }
            var games = loadGames()
            var game = loadGame(games[Math.floor(Math.random() * Math.floor(games.length))].guid)
            var hints = [
                  'This game was released on the ' + game.platform.title,
                  'This game starts with the letter "' + game.title[0] + '"',
                  game.title.split(' ').length === 1 ? 'This is a one word title' : 'The first word of this game is "' + game.title.split(' ')[0] + '"'
                ].reverse()

            $('#Playlist').append(function () {
              var html = []
              game.playlist.forEach(function (track) {
                html.push('<li data-song="' + track.guid + '" data-title="' + track.title + '">' + track.title + '</li>')
              })
              return html.join('')
            })
            $('#GuessTheGame .typeahead')
              .typeahead({ minLength: 1, highlight: true, }, createGuessInput(games))
              .on('typeahead:selected', function (e, item) {
                if(item.guid === game.guid) {
                  $('#GameTitle').html(game.title)
                  $('#GuessTheGame').hide()
                  $('#Playlist,.jp-title ').fadeIn()
                  $('html, body').css({
                    'background-image': 'url(https://s3-us-west-2.amazonaws.com/media.sndtst.com/game/' + game.id + '/title)'
                  })
                } else {
                  alert("Sorry this isn't it")
                }
              })

        		SNDTST.init('#Playlist', 'https://s3-us-west-2.amazonaws.com/media.sndtst.com/game/' + game.id + '/song/', function () {
              $('#Loading').hide()
        			$('#ActionPlay').on('click', function () {
        				SNDTST.play()
        				$('#GuessTheGame').fadeIn()
        				$('#ActionPlay').hide()
        				clippy.load({name:'Clippy', path:'/static/images/agents/'}, function (agent) {
        					$('.Hint').show()
        					$('#ActionHint').on('click', function () {
        						var hint = hints.pop()
        						agent.show()
        						agent.play('GetAttention')
        						if (hint) {
        							agent.speak(hint)
        						} else {
        							agent.speak('Sorry there are no more hints, here you go!')
        							$('#GameTitle').html(game.title)
        							$('#GuessTheGame').hide()
        							$('.Hint').hide()
        							$('#Playlist,.jp-title ').fadeIn()
        							$('html, body').css({'background-image':"url(https://s3-us-west-2.amazonaws.com/media.sndtst.com/game/" + game.id + "/title)"})
        						}
        					})
        				})
        			}).prop('disabled', false)
        		})
          })
        </script>
      </div>
    </main>
    <footer class="text-muted">
      <div class='container'>
        <p class='text-muted'><small>Created with &#9825; by <a href='http://jason.sperske.com/'>Jason Sperske</a> &mdash; <a href='mailto:feedback@sndtst.com'>Any Suggestions?</a> &mdash; <a href='/about/privacy/'>Privacy Policy</a></small></p>
      </div>
    </footer>
    <div id="jplayer_1" class="jp-jplayer"></div>
    <div id="jp_container_1" class="jp-audio">
      <div class="jp-controls">
        <a href="#" class="jp-play"><span class="fa fa-play fa-2x"></span></a>
        <a href="#" class="jp-pause"><span class="fa fa-pause fa-2x"></span></a>
      </div>
      <div class="jp-current-time"></div>
      <div class="jp-title"></div>
      <div class="jp-seek-bar"><div class="jp-play-bar"></div></div>
    </div>
  </body>
</html>
