<div class="jumbotron">
  <p class="lead">A sound test for as many games as I can find.</p>
</div>
<div class="row">
  <div class="col-md-9">
    <div class="row">
      <div class="col-6 col-md-3 text-center Platform">
        <a href="/platform/Arcade">
          <h1>19</h1>
          <p>Arcade</p>
        </a>
      </div>
      <div class="col-6 col-md-3 text-center Platform">
        <a href="/platform/GameBoy">
          <h1>5</h1>
          <p>Game Boy</p>
        </a>
      </div>
      <div class="col-6 col-md-3 text-center Platform">
        <a href="/platform/GBA">
          <h1>5</h1>
          <p>Game Boy Advance</p>
        </a>
      </div>
      <div class="col-6 col-md-3 text-center Platform">
        <a href="/platform/Genesis">
          <h1>99</h1>
          <p>Genesis</p>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-3 text-center Platform">
        <a href="/platform/SMS">
          <h1>6</h1>
          <p>Master System</p>
        </a>
      </div>
      <div class="col-6 col-md-3 text-center Platform">
        <a href="/platform/MSX">
          <h1>2</h1>
          <p>MSX</p>
        </a>
      </div>
      <div class="col-6 col-md-3 text-center Platform">
        <a href="/platform/N64">
          <h1>24</h1>
          <p>N64</p>
        </a>
      </div>
      <div class="col-6 col-md-3 text-center Platform">
        <a href="/platform/NES">
          <h1>98</h1>
          <p>NES</p>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-3 text-center Platform">
        <a href="/platform/PC">
          <h1>18</h1>
          <p>PC</p>
        </a>
      </div>
      <div class="col-6 col-md-3 text-center Platform">
        <a href="/platform/SNES">
          <h1>94</h1>
          <p>SNES</p>
        </a>
      </div>
      <div class="col-6 col-md-3 text-center Platform">
        <a href="/platform/TG16">
          <h1>17</h1>
          <p>Turbo Grafx-16</p>
        </a>
      </div>
    </div>
	</div>
	<div class="col-md-3">
	</div>
</div>
