<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='content-type' content='text/html;charset=UTF-8' />
    <title><:if(locals.page_title) { :><:= page_title :><: } else { :>Sound Test<: } :></title>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
    <script src='/static/js/sndtst.min.js' type='text/javascript'></script>
    <link type='text/css' href='/static/css/sndtst.min.css' rel='stylesheet' />
    <link rel="apple-touch-icon" href="/static/images/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/images/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/images/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/images/touch-icon-ipad-retina.png">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Sound Test">
    <meta name="application-name" content="Sound Test">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta property='og:site_name' content='Sound Test'/>
    <meta property="fb:app_id" content="1468367333395700"/>
    <meta property='twitter:site' content='@snd_tst'/>
    <meta property='twitter:creator' content='@snd_tst'/>
    <meta property='og:description' content='A collection of music from as many games as I can find'/>
    <meta property='twitter:description' content='A collection of music from as many games as I can find'/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-50241201-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-50241201-1');
    </script>
  </head>
	<body>
    <header>
      <div class='container'>
        <div class="navbar navbar-dark navbar-expand-md">
          <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
              <strong>Sound Test</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/game/">Guess the Game</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main role="main">
      <div class='container'>
        <div class="jumbotron">
          <p class="lead">A sound test for as many games as I can find.</p>
        </div>
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-6 col-md-3 text-center Platform">
                <a href="/platform/Arcade.html">
                  <h1>19</h1>
                  <p>Arcade</p>
                </a>
              </div>
              <div class="col-6 col-md-3 text-center Platform">
                <a href="/platform/GameBoy.html">
                  <h1>5</h1>
                  <p>Game Boy</p>
                </a>
              </div>
              <div class="col-6 col-md-3 text-center Platform">
                <a href="/platform/GBA.html">
                  <h1>5</h1>
                  <p>Game Boy Advance</p>
                </a>
              </div>
              <div class="col-6 col-md-3 text-center Platform">
                <a href="/platform/Genesis.html">
                  <h1>99</h1>
                  <p>Genesis</p>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-6 col-md-3 text-center Platform">
                <a href="/platform/SMS.html">
                  <h1>6</h1>
                  <p>Master System</p>
                </a>
              </div>
              <div class="col-6 col-md-3 text-center Platform">
                <a href="/platform/MSX.html">
                  <h1>2</h1>
                  <p>MSX</p>
                </a>
              </div>
              <div class="col-6 col-md-3 text-center Platform">
                <a href="/platform/N64.html">
                  <h1>24</h1>
                  <p>N64</p>
                </a>
              </div>
              <div class="col-6 col-md-3 text-center Platform">
                <a href="/platform/NES.html">
                  <h1>98</h1>
                  <p>NES</p>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-6 col-md-3 text-center Platform">
                <a href="/platform/PC.html">
                  <h1>18</h1>
                  <p>PC</p>
                </a>
              </div>
              <div class="col-6 col-md-3 text-center Platform">
                <a href="/platform/SNES.html">
                  <h1>94</h1>
                  <p>SNES</p>
                </a>
              </div>
              <div class="col-6 col-md-3 text-center Platform">
                <a href="/platform/TG16.html">
                  <h1>17</h1>
                  <p>Turbo Grafx-16</p>
                </a>
              </div>
            </div>
        	</div>
        	<div class="col-md-3">
        	</div>
        </div>
      </div>
    </main>
    <footer class="text-muted">
      <div class='container'>
        <p class='text-muted'><small>Created with &#9825; by <a href='http://jason.sperske.com/'>Jason Sperske</a> &mdash; <a href='mailto:feedback@sndtst.com'>Any Suggestions?</a> &mdash; <a href='/about/privacy/'>Privacy Policy</a></small></p>
      </div>
    </footer>
  </body>
</html>
